body{
    color:#31014e;
    font-family: 'Noto Sans', sans-serif;
}

main{
    margin: 0 auto;
}

section{
    padding:5px;
    clear:both;
}

header{
    border-bottom:1px solid #602d7e;
}

header h1{
    color:white;
    padding-left:5px;
}

h2{
    border-left:3px double #602d7e;
    padding-left:3px;
}
