body{
    color:#31014e;
    font-family: 'Noto Sans', sans-serif;
}

main{
    margin: 0 auto;
}

section{
    padding:5px;
    clear:both;
}

header{
    border-bottom:1px solid #602d7e;
}

header h1{
    color:white;
    padding-left:5px;
}

h2{
    border-left:3px double #602d7e;
    padding-left:3px;
}

h1, h2, h3, h4{
    font-family: 'Play', sans-serif;
}

#katpic{
    max-height:100px;
    float:left;
    margin: 0 10px 10px 0;
    border-right:1px solid #602d7e;
    border-bottom:1px solid #602d7e;
}

footer{
    text-align:center;
    font-size:.8em;
    color:white;
    border-top:1px solid #602d7e;
}

@media screen and (min-width:640px){
    header h1, section{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        max-width:1000px;
    }
    #katpic{
        max-height:175px;
    }    
}
